* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  margin-inline: auto;
  background: hsl(234, 29%, 20%);
  max-width: 1440px;
  height: 100%;
  padding-block: 13.7rem;
}
@media screen and (max-width: 375px) {
  .container {
    width: 100%;
    background: hsl(0, 0%, 100%);
    padding: 0;
  }
}

@font-face {
  font-family: "bold";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.component {
  background: hsl(0, 0%, 100%);
  margin-inline: auto;
  width: 64.2%;
  border-radius: 30px;
  padding: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 640px;
  gap: 2.7em;
}
@media screen and (max-width: 375px) {
  .component {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    padding: 0;
    gap: 2.3em;
    height: fit-content;
    padding-bottom: 1.5em;
  }
}
.component .left {
  padding: 4.3em 0 0 2.6em;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .component .left {
    margin-inline: auto;
    padding: 0;
    margin-bottom: 2.7em;
    width: 88%;
  }
}
.component .left h1 {
  font-family: "bold";
  font-size: 3.5em;
  color: hsl(234, 29%, 20%);
  margin-bottom: 0.38em;
}
@media screen and (max-width: 375px) {
  .component .left h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
  }
}
.component .left p {
  font-family: "regular";
  font-size: 1em;
  line-height: 1.4;
  color: hsl(235, 18%, 26%);
  font-weight: 500;
  padding-bottom: 1.6em;
}
@media screen and (max-width: 375px) {
  .component .left p {
    line-height: 1.5;
  }
}
.component .left ul {
  list-style: none;
}
.component .left ul li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  font-family: "regular";
  padding-bottom: 0.9em;
  position: relative;
}
@media screen and (max-width: 375px) {
  .component .left ul li {
    line-height: 1.35;
    gap: 17px;
  }
  .component .left ul li .top {
    position: relative;
    top: -11px;
  }
}
.component .left form {
  display: flex;
  flex-direction: column;
  margin-top: 1.7em;
}
.component .left form .labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.9em;
}
@media screen and (max-width: 375px) {
  .component .left form .labels {
    padding-bottom: 0.7em;
  }
}
.component .left form .labels label {
  font-family: "bold";
  font-weight: 700;
  font-size: 0.75em;
  color: hsl(234, 29%, 20%);
}
@media screen and (max-width: 375px) {
  .component .left form .labels label {
    font-size: 0.77em;
  }
}
.component .left form .labels #error {
  color: hsl(4, 100%, 67%);
  display: none;
}
.component .left form input[type=email] {
  border: 1px solid hsl(231, 7%, 60%);
  outline: none;
  border-radius: 10px;
  padding-block: 1.1em;
  padding-inline: 2em;
  font-family: "regular";
  font-size: 1em;
  margin-bottom: 1.4em;
}
@media screen and (max-width: 375px) {
  .component .left form input[type=email] {
    padding-inline: 1.5em;
  }
}
.component .left form input[type=email]::placeholder {
  font-family: "regular";
  font-size: 1em;
  color: hsl(231, 7%, 60%);
}
.component .left form input[type=email].error {
  border: 1px solid hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
}
.component .left form input[type=email]:focus {
  border: 1px solid hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
}
.component .left form input[type=submit] {
  width: 100%;
  background: hsl(234, 29%, 20%);
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  padding-block: 1.22em;
  font-family: "bold";
  font-size: 1em;
  cursor: pointer;
}
.component .left form input[type=submit]:hover {
  background: hsl(4, 100%, 67%);
  transition: 0.5s background;
}
.component .right {
  width: 400px;
  background: url("../assets/images/illustration-sign-up-desktop.svg");
  border-radius: 15px;
  background-size: cover;
  margin-left: 20px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 375px) {
  .component .right {
    width: 100%;
    margin: 0;
    height: 284px;
    border-radius: 0;
    background-position: center;
    background-repeat: no-repeat;
    background: url("../assets/images/illustration-sign-up-mobile.svg");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.sucess {
  background: hsl(0, 0%, 100%);
  width: 500px;
  margin-inline: auto;
  border-radius: 30px;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  padding: 3.1em 3.9em 3.9em;
}
@media screen and (max-width: 375px) {
  .sucess {
    padding: 0;
    width: 88%;
    padding-top: 5.5em;
  }
}
.sucess .img {
  width: 63px;
  height: 63px;
  background: url("../assets/images/icon-success.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.sucess h1 {
  font-family: "bold";
  font-size: 3.47em;
  color: hsl(234, 29%, 20%);
  padding-top: 0.69em;
  line-height: 1.05;
}
@media screen and (max-width: 375px) {
  .sucess h1 {
    font-size: 2.5em;
    padding-top: 1em;
  }
}
.sucess p {
  font-family: "regular";
  font-size: 1em;
  padding-top: 1.49em;
  line-height: 1.42;
  padding-bottom: 2.6em;
}
@media screen and (max-width: 375px) {
  .sucess p {
    line-height: 1.44;
    padding-top: 1.47;
  }
}
.sucess p span {
  font-family: "bold";
  font-size: 1em;
  color: hsl(234, 29%, 20%);
}
.sucess button {
  border: none;
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  font-family: "bold";
  border-radius: 10px;
  padding-block: 1.19em;
  cursor: pointer;
}
.sucess button:hover {
  background: hsl(4, 100%, 67%);
  transition: 0.5s background;
}
@media screen and (max-width: 375px) {
  .sucess button {
    display: none;
  }
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  font-family: "bold";
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=main.css.map */