@forward "./partials/";
@use "./partials/colors" as c;
@use "./partials/fonts" ;
@use "./partials/mixins" as *;

.component{
    background: c.$White;
    margin-inline: auto;
    width: 64.2%;
    border-radius: 30px;
    padding: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 640px;
    gap:2.7em;

    @include responsive(450px){
       display: flex;
       width: 100%;
       flex-direction: column-reverse;
       padding: 0;
       gap: 2.3em;
       height: fit-content;
       padding-bottom: 1.5em;
         

    }
    @include responsive(850px){
        // width: 90%;
        margin-inline: auto;
        height: fit-content;
    }

    .left{
        padding: 4.3em 0 0 2.6em;
        width: 100%;
        // include

        @include responsive(450px){
            margin-inline: auto;
            padding: 0;
            margin-bottom: 2.7em;
            width: 88%;

        }

        @include responsive(850px){
            // width: 100%;
            margin-inline: auto;
            padding: 0;
            // margin-bottom: 2.7em;
        }
        h1{
            font-family: 'bold' ;
            font-size: 3.5em;
            color: c.$DarkSlateGrey;
            margin-bottom: .38em;
            @include responsive(450px){
                font-size: 2.5em;
                margin-bottom: .5em;
            }
             @include responsive(850px) {
                font-size: 3em;
             }
        }
         p{
            font-family: 'regular';
            font-size: 1em;
            line-height: 1.4;
            color: c.$CharcoalGrey;
            font-weight: 500;
            padding-bottom: 1.6em;
            @include responsive(450px){
                line-height: 1.5;
                // padding-bottom: em;

            }

         } 
         ul{
            list-style: none;
            li{
                display: flex;
                flex-direction: row;
                gap:15px;
                align-items: center;
                font-family: 'regular';
                padding-bottom: .9em;
                position: relative;

            @include responsive(450px){
                line-height: 1.35;
                gap: 17px;

                .top{
                    position: relative;
                    top:-11px;
                }
            }
            }
         } 
         form{ 
            display: flex;
            flex-direction: column;
            margin-top: 1.7em;
            .labels{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                 padding-bottom: .9em;
                 @include responsive(450px){
                    padding-bottom: .7em;
                 }

                label {
                    font-family: 'bold';
                    font-weight: 700;
                    font-size: .75em;
                    color: c.$DarkSlateGrey;
                    @include responsive(450px){
                        font-size: .77em;
                    }
                }
                #error{
                    color: c.$Tomato;
                    display: none;
                }
            }
            input[type="email"]{
                border: 1px solid c.$Grey;
                outline: none;
                border-radius: 10px;
                padding-block: 1.1em;
                padding-inline: 2em;
                font-family: 'regular';
                font-size: 1em;
                margin-bottom: 1.4em;
                @include responsive(450px) {
                padding-inline: 1.5em;

                }

                &::placeholder{
                    font-family: 'regular';
                    font-size: 1em;
                    color: c.$Grey;
                    // padding-left: 1.5em;
                }
                &.error{
                    border: 1px solid c.$Tomato;
                    color: c.$Tomato;
                   
                }
                &:focus{
                    border: 1px solid c.$DarkSlateGrey;
                    color: c.$DarkSlateGrey;
                }

            } 
            input[type="submit"]{
                width: 100%;
                background: c.$DarkSlateGrey;
                border: none;
                border-radius: 10px;
                color: c.$White;
                padding-block: 1.22em;
                font-family: 'bold';
                font-size: 1em;
                cursor: pointer;

                &:hover{
                    background: c.$Tomato;
                    transition: .5s background;
                }
            }
            }
    }
    .right{
        width: 400px;
        background: url("../assets/images/illustration-sign-up-desktop.svg");
        border-radius: 15px;
        background-size: contain;
        margin-left: 20px;
        background-repeat: no-repeat;
        @include responsive(450px){
            width: 100%;
            margin: 0;
            height: 284px;
            border-radius: 0;
            background-position: center;
            background-repeat: no-repeat;
            background: url("../assets/images/illustration-sign-up-mobile.svg");
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

        }
         @include responsive(850px) {
            width: 100%;
            // height: 593px;
            margin-inline: auto;
         }
       
    }
}

.sucess{
    background: c.$White;
    width: 500px;
    margin-inline: auto;
    border-radius: 30px;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    padding: 3.1em 3.9em 3.9em;
    @include responsive(450px){
        padding: 0;
        width: 88%;
        padding-top: 5.5em;
    }


    .img{
        $siz:63px;
        width: $siz;
        height:$siz;
        background: url("../assets/images/icon-success.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    h1{
        font-family: 'bold';
        font-size: 3.47em;
        // margin-left: -2px;
        color: c.$DarkSlateGrey;
        padding-top: .69em;
        line-height: 1.05;
        // include
        @include responsive(450px){
            font-size: 2.5em;
            padding-top: 1em;
        }
      
    }
    p{
        font-family: 'regular';
        font-size: 1em;
        padding-top: 1.49em;
        line-height: 1.42;
        padding-bottom: 2.6em;
        @include responsive(450px){
            line-height: 1.44;
            padding-top: 1.47;
        }

        span{
            font-family: 'bold';
            font-size: 1em;
            color: c.$DarkSlateGrey;

        }
    }
    button{
        border:  none;
        background: c.$DarkSlateGrey;
        color: c.$White;
        font-size: 1em;
        font-family: 'bold';
        border-radius: 10px;
        padding-block: 1.19em;
        cursor: pointer;
        &:hover{
            background: c.$Tomato;
            transition: .5s background;
        }
        @include responsive(450px){
            display: none;
        }
    }
}
footer{
    .attribution {
        font-size: 11px;
        text-align: center;
        font-family: 'bold';
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}
