@use "./colors" as c;
@use "./mixins"  as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

.container{
    margin-inline: auto;
    background: c.$DarkSlateGrey ;
    max-width: 1440px;
    height: 100%;
    padding-block: 13.7rem;

    @include responsive(375px){
        width: 100%;
        background: c.$White;
        padding: 0;
    }
}