@use "./colors" as c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

.container{
    margin-inline: auto;
    background: c.$DarkSlateGrey ;
    max-width: 1440px;
    height: 100%;
    padding-block: 13.7rem;
}